{% extends 'base_public.html' %}
{%block title%}
{{title}}
{% endblock %}

{% block hnavbar %}
<nav class="topnav">

    <ul class="menu">
        {% for el in menu.keys() %}
        <li><a href="{%if el.is_parent%}
        {% else %}
        {{el.url}}
        {%endif%}">
            {%if locale == 'en'%}
            {{el.name_en}}
            {%elif locale == 'es'%}
            {{el.name_kz}}
            {%else%}
            {{el.name}}
            {%endif%}
        </a>
            <ul class="submenu">
                {%for elem in menu[el]%}
                {% if elem.is_parent == True %}
                <li><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {% else %}
                <li class="parent"><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {% endif %}
                {%endfor%}
            </ul>
        </li>
        {% endfor %}


    </ul>

</nav>
{% endblock %}

{% block content %}
<form action="" method="post" class="form-contact" >
    <li>
        <h2>Задать вопрос:</h2>
        <!--            <span class="required_notification">* Denotes Required Field</span>-->
    </li>
    <li>
        <label>Тема:</label>
        <select name="theme">
            {% for i in themes %}
            <option>{{i}}</option>
            {% endfor %}
        </select>
    </li>

    <li>
        <label>Email:</label> <input type="email" name="email" placeholder="Введите ваш email...">
    </li>
    <li>
        <label>Текст вопроса:</label>
        <textarea name="question" class="question-text"
                           placeholder="Введите текст своего вопроса..."></textarea>
    </li>

    <li>
        <button class="contact-button">Отправить</button>
    </li>

</form>
{% endblock %}
