{% extends 'base_public.html' %}
{%block title%}
{{title}}
{% endblock %}

{% block head %}

{% endblock %}


{% block hnavbar %}
<nav class="topnav">

    <ul class="menu">
        {% for el in menu.keys() %}
        <li><a href="{%if el.is_parent%}
        {% else %}
        {{el.url}}
        {%endif%}">
            {%if locale == 'en'%}
            {{el.name_en}}
            {%elif locale == 'es'%}
            {{el.name_kz}}
            {%else%}
            {{el.name}}
            {%endif%}
        </a>
            <ul class="submenu">
                {%for elem in menu[el]%}
                {% if elem.is_parent == True %}
                <li><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {% else %}
                <li class="parent"><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {% endif %}
                {%endfor%}
            </ul>
        </li>
        {% endfor %}


    </ul>

</nav>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}
<div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="close">
    </button>
    {{ message }}
</div>
{% endfor %}

{% endif %}

{% endwith %}
<form action="" method="post" class="form-contact">
    <li>
        <h2>{{ _('Записаться в библиотеку:') }}</h2>
        <!--            <span class="required_notification">* Denotes Required Field</span>-->
    </li>
    <li>
        <label>Email:</label> <input type="email" name="email" placeholder="{{ ('Введите ваш email...') }}">
    </li>
    <li>
        <label>{{ _('Имя:') }}</label> <input type="text" name="name" placeholder="{{ _('Введите ваше имя...') }}">
    </li>
    <li>
        <label>{{ _('Фамилия:') }}</label> <input type="text" name="surname" placeholder="{{ _('Введите вашу фамилию...') }}">
    </li>
    <li>
        <label>{{ _('Отчество:') }}</label> <input type="text" name="patronymic" placeholder="{{ _('Введите ваше отчество...') }}">
    </li>
    <li>
        <label>{{ _('Дата рождения:') }}</label> <input type="date" name="birth_date" placeholder="{{ _('Введите дату вашего рождения...') }}">
    </li>
    <li><label>{{ _('Категория') }}:</label>
        <select name="category">
            <option>{{ _('Обучающийся') }}</option>
            <option>{{ _('Сотрудник') }}</option>
            <option>{{ _('Преподаватель') }}</option>
        </select></li>
    <li>
        <label>{{ _('Место работы, должность:') }}</label> <input type="text" name="work_place"
                                                       placeholder="{{ _('Напишите место вашей работы или должность...') }}">
    </li>
    <li>
        <label>{{ _('Название группы, кафедра:') }}</label> <input type="text" name="group"
                                                     placeholder="{{ _('Введите название вашей группы или кафедры...') }}">
    </li>
    <li>
        <label>{{ _('Домашний адрес:') }}</label> <input type="text" name="address" placeholder="{{ _('Введите домашний адрес...') }}">
    </li>
    <li>
        <label>{{ _('Телефон:') }}</label> <input type="text" name="phone" placeholder="{{ _('Телефон') }}" class="phone_mask">
    </li>

    <li>
        <button class="contact-button">{{ _('Отправить') }}</button>
    </li>

</form>

{% endblock%}
{% block script %}

{% endblock %}
