<!DOCTYPE html>
<html lang="en" class="html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('public.static', filename = 'css/style.css')}}">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>

<body>
<div class="header">
    <div class="header-up">
        <div class="header-left">
            <div class="logo">
                <img src="{{url_for('public.static', filename = 'images/logo.jpg')}}" alt="">
            </div>
            <div class="heading-h1">
                <h1>{{ _('Карагандинский технический университет') }}</h1>
                <p>{{ _('Библиотека') }}</p>
            </div>
        </div>
        <div class="header-right">

            <a href="{{ url_for('public.set_language',language='ru') }}">
                <div class="lang-button">
                    <div class="lang-text">RU</div>
                </div>
            </a>
            <a href="{{ url_for('public.set_language',language='en') }}">
                <div class="lang-button">
                    <div class="lang-text">EN</div>
                </div>
            </a>
            <a href="{{ url_for('public.set_language',language='es') }}">
                <div class="lang-button">
                    <div class="lang-text">KZ</div>
                </div>
            </a>

            <div class="bad-vision">
                <div class="bad-vision-text">{{ _('Версия для слабовидящих') }}</div>
            </div>
            <form class="search-wrapper" method="get" action="{{url_for('public.search')}}">
                <span class="las la-search"></span>
                <input type="search" name='q' placeholder="{{ _('Поиск') }}" value="{{ request.args.get('q', '') }}">
            </form>
        </div>
    </div>
    {% block hnavbar %}
    {% endblock %}
</div>
<main>
    <div class="left-sidebar">
        <div class="left-sidebar-menu">
            <ul>

                <li class="sidebar-main">
                    <a href="" class="active"><span>{{ _('Быстрый доступ') }}</span></a>
                </li>
                {%for elem in fast_access%}
                <li>
                    <a href="{{elem.url}}" class="active"><span>
                        {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}

                    </span></a>
                </li>
                {% endfor%}
            </ul>
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="right-sidebar">
        <div class="right-sidebar-menu">
            <a href="{{url_for('public.contact_us')}}">
                <div class="panel panel-primary panel-right">
                    <div class="right-panel-heading">
                        <h3 class="panel-title">
                            {{ _('Виртуальная справочная служба') }}</h3>
                    </div>
                </div>
            </a>
            <div class="panel panel-primary panel-right">
                <div class="right-panel-heading">
                    <h3 class="panel-title">
                        {{ _('Часы работы') }}</h3>
                </div>
                <div class="panel-body">
                    <div style="padding: 0rem 2rem;">
                        {%if locale == 'en'%}
                        {{work_hours.text_en}}
                        {%elif locale == 'es'%}
                        {{work_hours.text_kz}}
                        {%else%}
                        {{work_hours.text}}
                        {%endif%}
                    </div>
                </div>
            </div>
            <a href="{{url_for('public.enroll_in_library')}}">
                <div class="panel panel-primary panel-right">
                    <div class="right-panel-heading">
                        <h3 class="panel-title">
                            {{ _('Записаться в библиотеку') }}</h3>
                    </div>
                </div>
            </a>
            <div class="panel panel-primary panel-right">
                <div class="right-panel-heading">
                    <h3 class="panel-title">
                        {{ _('Контакты') }}</h3>
                </div>
                <div class="panel-body">
                    <div style="padding: 0rem 2rem;">
                        {%if locale == 'en'%}
                        {{contacts.address_en}}
                        {%elif locale == 'es'%}
                        {{contacts.address_kz}}
                        {%else%}
                        {{contacts.address}}
                        {%endif%}
                         тел. {{contacts.phone}} email: {{contacts.email}}
                    </div>
                </div>
            </div>
            <a href="{{url_for('public.new_arrivals')}}">
                <div class="panel panel-primary panel-right">
                    <div class="right-panel-heading">
                        <h3 class="panel-title">
                            {{ _('Новые поступления') }}</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </div>


</main>
<footer>
    <div class="partners-list">
        {% for partner in partners %}
        <a class="partner" href="{{partner.url}}"><img src="{{url_for('public.partner_img', id=partner.id)}}"
                                                       alt=""></a>
        {% endfor %}

    </div>
    <div class="about-site">
        <p>{{ _('Карагандинский технический университет') }}</p>
    </div>
</footer>
<script type="text/javascript" src="{{url_for('public.static', filename = 'js/index.js')}}"></script>
{% block script %}{% endblock %}
</body>

</html>