{% extends 'base_public.html' %}
{%block title%}
{{title}}
{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="{{url_for('public.static', filename= 'js/menu.js')}}"></script>
{% endblock %}

{% block hnavbar %}
<nav class="topnav">
    <ul id="bar">
        {% for el in menu.keys() %}
        <li class="dmenu dmenu-right dmenu-click">
            <a href="{%if el.is_parent%}
                     #bar
                     {% else %}
                     {{el.url}}
                     {%endif%}" class="dbutton">
                {%if locale == 'en'%}
                {{el.name_en}}
                {%elif locale == 'es'%}
                {{el.name_kz}}
                {%else%}
                {{el.name}}
                {%endif%}
            </a>
            <ul class="dsubmenu">
                {%for elem in menu[el]%}
                <li><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {%endfor%}
            </ul>
        </li>
        {% endfor %}
    </ul>
</nav>

{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}
<div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="close">
    </button>
    {{ message }}
</div>
{% endfor %}

{% endif %}

{% endwith %}
<form action="" method="post" class="form-contact" >
    <li>
        <h2>Задать вопрос:</h2>
        <!--            <span class="required_notification">* Denotes Required Field</span>-->
    </li>
    <li>
        <label>Тема:</label>
        <select name="theme">
            {% for i in themes %}
            <option>{{i}}</option>
            {% endfor %}
        </select>
    </li>

    <li>
        <label>Email:</label> <input type="email" name="email" placeholder="Введите ваш email...">
    </li>
    <li>
        <label>Текст вопроса:</label>
        <textarea name="question" class="question-text"
                           placeholder="Введите текст своего вопроса..."></textarea>
    </li>

    <li>
        <button class="contact-button">Отправить</button>
    </li>

</form>
{% endblock %}
