{% extends 'base_public.html' %}
{% block title %}
{% if locale == 'en'%}
                {{ book.title_en }}
                {% elif locale == 'es'%}
                {{ book.title_kz }}
                {% else %}
                {{ book.title }}
                {% endif %}

{%endblock %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

{% endblock %}
{% block hnavbar %}
<nav class="topnav">
    <ul id="bar">
        {% for el in menu.keys() %}
        <li class="dmenu dmenu-right dmenu-click">
            <a href="{%if el.is_parent%}
                     #bar
                     {% else %}
                     {{el.url}}
                     {%endif%}" class="dbutton">
                {%if locale == 'en'%}
                {{el.name_en}}
                {%elif locale == 'es'%}
                {{el.name_kz}}
                {%else%}
                {{el.name}}
                {%endif%}
            </a>
            <ul class="dsubmenu">
                {%for elem in menu[el]%}
                <li><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {%endfor%}
            </ul>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <div>
                {% if locale == 'en'%}
                {{ book.title_en }}
                {% elif locale == 'es'%}
                {{ book.title_kz }}
                {% else %}
                {{ book.title }}
                {% endif %}

            </div>
            <div class="news-block-date">
                <div>
                </div>
            </div>
        </h3>
    </div>
    <div class="panel-body" style="padding:0;">
        <div
                style="margin-top:1rem;width:500px;height:300px;display:inline-block;background:url('{{url_for('public.book_img', id=book.id)}}') no-repeat center center;background-size:contain;">
        </div>
        <div class="news_short_block">

            <div>
                <h4>{{ _('Аннотация:') }}</h4>
                {% if locale == 'en'%}
                {{book.text_en|safe}}
                {% elif locale == 'es'%}
                {{book.text_kz|safe}}
                {% else %}
                {{book.text|safe}}
                {% endif %}

            </div>
        </div>

    </div>
</div>


{% endblock %}