{% extends 'base_public.html' %}
{%block title%}

{{title}}

{% endblock %}
{% block hnavbar %}
<nav class="topnav">
    <ul class="menu">
        {% for el in menu.keys() %}
        <li>
            {%if el.is_parent%}
            {% else %}
            <a href="{{el.url}}"></a>
            {%endif%}
                {%if locale == 'en'%}
                {{el.name_en}}
                {%elif locale == 'es'%}
                {{el.name_kz}}
                {%else%}
                {{el.name}}
                {%endif%}
            <ul class="submenu">
                {%for elem in menu[el]%}
                {% if elem.is_parent == True %}
                <li><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {% else %}
                <li class="parent"><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {% endif %}
                {%endfor%}
            </ul>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
{% block content %}
{% for record in pages.items %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">

            <div>
                {% if locale == 'en'%}
                {{ record.name_en }}
                {% elif locale == 'es'%}
                {{ record.name_kz }}
                {% else %}
                {{ record.name }}
                {% endif %}
            </div>
            {%if record.normal_date == None%}
            <div class="news-block-date">{{ record.created_at }}</div>

            {%else%}
            <div class="news-block-date">{{ record.normal_date }}</div>
            {%endif%}
        </h3>
    </div>
    <div class="panel-body" style="padding:0;">
        <div class="news_short_block">
            <div class="news_preview"><a class="fancybox preview" href=""
                                         data-fancybox-group="677f2709938efbcd0706ca2ce31bbd55">
                <div
                        style="width:130px;height:130px;display:inline-block;background:url('{{url_for('public.record_img', id=record.id)}}') no-repeat center center;background-size:contain;">
                </div>
            </a></div>
            <div class="news_short_body">
                {% if locale == 'en'%}
                {{ record.description_en }}
                {% elif locale == 'es'%}
                {{ record.description_kz }}
                {% else %}
                {{ record.description }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-footer"><a class="btn btn-sm btn-primary" href="{{url_for('public.show_record', id=record.id)}}">
        {{ _('Читать далее') }}

    </a></div>
</div>
{% endfor %}

<div class="paginate wrapper">
    <!-- The "wrapper" is just a comestic addition. You don't need this for the pagination to work. -->
    <ul>
        <li><a href="./?page={{ pages.prev_num }}">&lang;</a></li>

        {%for page in pages.iter_pages() %}
        {% if page == pages.page %}
        <li><a href="./?page={{page}}" class="active">{{page}}</a></li>
        {% else %}
        <li><a href="./?page={{page}}">{{page}}</a></li>
        {% endif %}
        {%endfor%}
        <li><a href="./?page={{ pages.next_num }}">&rang;</a></li>
    </ul>
</div>
{% endblock %}