{% extends 'base_edit_template.html' %}
{% block title %}{{title}}{% endblock %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

{% endblock %}

{%block sidebar_menu%}
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="lab la-accusoft"></span> <span>Админ панель</span></h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="{{url_for('editor.add_record')}}" class=""><span
                        class="las la-igloo"></span><span>Новая запись</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.find_edit_record')}}"><span class="las la-igloo"></span><span>Редактировать запись</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.show_categories')}}"><span class="las la-users"></span><span>Категории</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.menu')}}"><span class="las la-clipboard-list"></span><span>Меню</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.fast_access')}}"><span class="las la-shopping-bag"></span><span>Быстрый доступ</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.show_partners')}}"><span class="las la-receipt"></span><span>Партнеры</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.questions')}}"><span class="las la-user-circle"></span><span>Виртуальная справочная служба</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.readers')}}"><span
                        class="las la-user-circle"></span><span>Читатели</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.new_arrivals')}}"><span class="las la-user-circle"></span><span>Новые поступления</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.contacts')}}"><span
                        class="las la-user-circle"></span><span>Контактные данные</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.work_hours')}}"><span
                        class="las la-user-circle"></span><span>Часы работы</span></a>
            </li>
            <li>
                <a href=""><span class="las la-clipboard-list"></span><span>Метрики</span></a>
            </li>
        </ul>
    </div>

</div>
{%endblock%}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block form %}
{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}
<div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="close">
        <span aria-hidden="true">x</span>
    </button>
    {{ message }}
</div>
{% endfor %}

{% endif %}

{% endwith %}
<form action="" method="post" class="form-record" enctype="multipart/form-data">
    <li>
        <h2>Изменение информации о книге:</h2>
        <!--            <span class="required_notification">* Denotes Required Field</span>-->
    </li>
    <li>
        <label>Название:</label> <input type="text" name="name" placeholder="Введите название книги..." value="{{book.title}}">
    </li>
    <li>
        <label>Название на английском:</label> <input type="text" name="name_en" placeholder="Введите название книги..." value="{{book.title_en}}">
    </li>
    <li>
        <label>Название на казахском:</label> <input type="text" name="name_kz" placeholder="Введите название книги..." value="{{book.title_kz}}">
    </li>

    <li>Описание:<textarea name="description" class="record-description"
                           placeholder="Введите описание книги...">{{book.description}}</textarea>
    </li>
    <li>Описание на английском:<textarea name="description_en" class="record-description"
                           placeholder="Введите описание книги...">{{book.description_en}}</textarea>
    </li>
    <li>Описание на казахском:<textarea name="description_kz" class="record-description"
                           placeholder="Введите описание книги...">{{book.description_kz}}</textarea>
    </li>

    <li>
        <label for="file" class="col-sm-2 control-label">Обложка:</label>
        <input type="file" name="file" id="file">
    </li>

    <li><textarea id="summernote" name="editordata">{{ book.text }}</textarea></li>
    <li><textarea id="summernote_en" name="editordata_en">{{ book.text_en }}</textarea></li>
    <li><textarea id="summernote_kz" name="editordata_kz">{{ book.text_kz }}</textarea></li>

    <li>
        <button class="record-button">Изменить</button>
    </li>

</form>
<script>
      $('#summernote').summernote({
        placeholder: 'Введите аннотацию...',
        tabsize: 2,
        height: 600,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
      $('#summernote_en').summernote({
        placeholder: 'Введите текст вашего поста...',
        tabsize: 2,
        height: 600,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
      $('#summernote_kz').summernote({
        placeholder: 'Введите текст вашего поста...',
        tabsize: 2,
        height: 600,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });




</script>
{% endblock %}