{% extends 'base_edit_template.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('admin.static', filename = 'css/bootstrap.min.css')}}">
{% endblock %}

{%block sidebar_menu%}
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="lab la-accusoft"></span> <span>Админ панель</span></h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="{{url_for('editor.add_record')}}"><span
                        class="las la-igloo"></span><span>Новая запись</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.find_edit_record')}}"><span class="las la-igloo"></span><span>Редактировать запись</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.show_categories')}}"><span class="las la-users"></span><span>Категории</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.menu')}}"><span class="las la-clipboard-list"></span><span>Меню</span></a>
            </li>
            <li>
                <a href=""><span class="las la-shopping-bag"></span><span>Быстрый доступ</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.show_partners')}}"><span class="las la-receipt"></span><span>Партнеры</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.questions')}}"><span
                        class="las la-user-circle"></span><span>Виртуальная справочная служба</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.readers')}}"><span class="las la-user-circle"></span><span>Читатели</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.new_arrivals')}}"><span class="las la-user-circle"></span><span>Новые поступления</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.contacts')}}"><span class="las la-user-circle"></span><span>Контактные данные</span></a>
            </li>
            <li>
                <a href="{{url_for('editor.work_hours')}}"><span class="las la-user-circle"></span><span>Часы работы</span></a>
            </li>

        </ul>
    </div>

</div>
{%endblock%}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block form %}
{% endblock %}
{% block content%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <div>
                {{ question.theme }}

            </div>
            <div class="news-block-date">
                <div>

                </div>
            </div>
        </h3>
    </div>
    <div class="panel-body" style="padding:0;">

        <div class="news_short_block">
            <div>
                email отправителя: {{question.email}}
                <br>
                Текст вопроса:
                {{ question.text}}

            </div>
        </div>

    </div>
</div>


{% endblock%}