<li><a href="{%if el.is_parent%}
        {% else %}
        {{el.url}}
        {%endif%}">
            {%if locale == 'en'%}
            {{el.name_en}}
            {%elif locale == 'es'%}
            {{el.name_kz}}
            {%else%}
            {{el.name}}
            {%endif%}
        </a>
            <ul class="submenu">
                {%for elem in menu[el]%}
                {% if elem.is_parent == True %}
                <li><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {% else %}
                <li class="parent"><a href="{{elem.url}}">
                    {%if locale == 'en'%}
                    {{elem.name_en}}
                    {%elif locale == 'es'%}
                    {{elem.name_kz}}
                    {%else%}
                    {{elem.name}}
                    {%endif%}
                </a></li>
                {% endif %}
                {%endfor%}
            </ul>
        </li>